@model  ASPPractice1.Models.Registration

@{
    ViewBag.Title = "Result";
}

<h2></h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name: @ViewBag.FirstName
        </dt>

        
        <dt>
            Last Name: @ViewBag.LastName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Phone Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Password:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Next Page", "WelcomeUser")
</p>